root = true

[*.cs]

dotnet_diagnostic.CA1861.severity = none

dotnet_diagnostic.SA0001.severity = none
dotnet_diagnostic.SA1600.severity = none
dotnet_diagnostic.SA1601.severity = none
dotnet_diagnostic.SA1602.severity = none
dotnet_diagnostic.SA1633.severity = none

dotnet_diagnostic.MSTEST0032.severity = none
dotnet_diagnostic.MSTEST0034.severity = none
dotnet_diagnostic.MSTEST0039.severity = none

dotnet_analyzer_diagnostic.category-Style.severity = warning
dotnet_diagnostic.IDE0001.severity = none
dotnet_diagnostic.IDE0003.severity = none
dotnet_diagnostic.IDE0008.severity = none
dotnet_diagnostic.IDE0040.severity = none
dotnet_diagnostic.IDE0046.severity = none
dotnet_diagnostic.IDE0047.severity = none
dotnet_diagnostic.IDE0065.severity = none
dotnet_diagnostic.IDE0073.severity = none
dotnet_diagnostic.IDE0076.severity = none
dotnet_diagnostic.IDE0077.severity = none
dotnet_diagnostic.IDE0090.severity = none
dotnet_diagnostic.IDE0120.severity = none
dotnet_diagnostic.IDE0130.severity = none
dotnet_diagnostic.IDE0160.severity = none
dotnet_diagnostic.IDE0290.severity = none
dotnet_diagnostic.IDE0300.severity = none
dotnet_diagnostic.IDE0305.severity = none

dotnet_diagnostic.MSTESTOBS.severity = none
dotnet_diagnostic.MSTEST0049.severity = none